.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: white;
  font-size: 23px;
}

.activeLink {
  composes: link;
  color: #94ce5d;
  border: 5px solid #94ce5d;
  border-radius: 5px;
}
